* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("/images/bgImage.jpg") no-repeat center / cover;
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}

body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

div {
  display: block;
  unicode-bidi: isolate;
}

nav {
  display: block;
  direction: ltr;
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  display: block;
  direction: ltr;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600px;
}

.menu ul {
  display: inline-flex;
  padding-inline-start: 40px;
}

ul li {
  margin-left: 7px;
  list-style: none;
}

ul li:first-child {
  margin-left: 0px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

ul li a:hover {
  background: #fff;
  color: black;
}

::selection {
  color: #000;
  background: #fff;
}

.center-div {
  color: #fff;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

#div-text {
  font-size: 53px;
  font-weight: 600;
}

#div2-text {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

#learn-btn {
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  width: 170px;
  height: 55px;
  margin: 0 10px;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  outline: none;
  transition: all 0.3s ease;
}

#learn-btn:hover {
  background: #fff;
  color: #000;
}

#subsc-btn {
  border: 2px solid white;
  border-radius: 5px;
  width: 170px;
  height: 55px;
  margin: 0 10px;
  padding: 0 10px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  outline: none;
  transition: all 0.3s ease;
}
